<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/80C64C0B63382CD3ED2653356125F275F63D036028A77D38DC3286AD851A6833/scale?width=1200&aspectRatio=1.78&format=jpeg"
    height="250px" alt="">
  </div>
  <div class="big-card__date">
    <p>January 15, 2023 </p>
  </div>
  <div class="big-card__title">
    <h1><a href="">Saiu a nova versao do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea pariatur eveniet hic recusandae tempora
      sapiente ullam, est, quae impedit magnam perspiciatis nemo exercitationem sit reprehenderit similique.
      Iusto sint doloremque perspiciatis.
    </a>
    </p>
  </div>
</div>
